<h1>Images</h1>

<% if @images.empty? %>
  <p>No images to show</p>
<% else %>
  <% @images.each do |image| %>
    <%= image.artist %>, <%= image.year %> <br>
    <%= image.title %> <br>
    <img src="<%= image.url %>"><br>
    <br>
  <% end %>
<% end %>
